body,
h2 {
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  width: 960px;
  height: 120px;
}

.square {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

.workspace {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.settings {
  display: flex;
  flex-direction: column;
}
